body {
  background-color: #F7F7F7;
}

p, h1, ul {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.icon {
  bottom: 1px;
  position: relative;
}

/* Navigation bar -  Links */

.primary_nav {
  background-color: #C9003A;
  display: flex;
  justify-content: space-between;
  padding: .25rem 5rem;
}

.primary_nav__list {
  display: flex;
  gap: 1.5rem;
}

.primary_nav__link {
  color: #FFC8EC !important;
  font-size: .8rem;
}

/* Navigation bar - Search, Cart */

.secondary_nav {
  background-color: #E30047;
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.input-group {
  margin: 0 !important;
  width: 50rem;
}

.searchbox__input {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .25) !important;
  border: none !important;
  border-radius: 2px;
  font-size: .9rem;
  padding-left: 2rem !important;
}
.searchbox__input::placeholder {
  color: #CDCFCE;
}

.btn {
  border: none;
  border-radius: 3px;
  color: rgba(255, 255, 255, .9);
  font-size: .9rem;
}

.btn-primary {
  background-color: #303531 !important;
}

.searchbox__btn {
  border-radius: 0 5px 5px 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.secondary_nav__list {
  padding: 0 !important;
  transform: translateX(10rem);
}

.secondary_nav__item {
  margin-right: 3rem;
}

.bi-person-fill {
  background-color: #C1093B;
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  color: white;
  padding: .5rem;
}


/* Main content */

.main_grid {
  border: 1px solid red;
  display: grid;
  gap: 1rem;
  grid-template-columns: 13rem 1fr 15rem;
  grid-template-rows: auto 1fr;
  padding: 1rem 4rem;
}

/* Side bar */

.side_bar {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
  grid-row: 1 / span 2;
  padding: .8rem 1rem;
}

.side_bar__title {
  color: #4F4F4F;
  font-size: .8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.side_bar__list {
  display: grid;
  color: #4F4F4F;
  gap: .5rem;
  font-size: .8rem;
  margin-bottom: 1.5rem;
}

.top_categories__list {
  gap: 1rem !important; 
}

.top_categories__img {
  border-radius: 50%;
  height: 30px;
  margin-right: .25rem;
  width: 30px;
}

.products_box {
  grid-column: 2 / span 2;
}

.more_categories__expand {
  color: #77B3BE;
}

.side_bar_icon {
  margin-right: .5rem;
}

/* Banner */

.banner_box {
  height: 18rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .25);
}

.banner_box__img {
  height: calc(100% - 3rem);
  object-fit: cover;
  width: 100%;
}

.banner_box__list {
  align-items: center;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, .5);
  display: flex;
  font-size: .8rem;
  font-weight: 500;
  height: 3rem;
  justify-content: space-between;
  padding: 0 6rem;
}

/* Pincode box */

.pincode_box {
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}

.pincode_box__img {
  height: auto;
  width: 8rem;
}

.pincode_box__title {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
}
.pincode_box__title::after {
  content: "";
  background-color: rgba(0, 0, 0, .1);
  border-radius: 1rem;
  display: block;
  height: 3px;
  position: relative;
  top: 40%;
  width: 1.5rem;
}

.pincode_box__text {
  color: rgba(0, 0 , 0, .6);
  font-size: .7rem;
  font-weight: 500;
  text-align: center;
}

.pincode_box__form {
  width: 100%;
}

.pincode_box__input {
  border: 1px solid rgba(0, 0, 0, .5);
  background-color: #FBFBFB;
  font-size: .8rem;
  padding: .25rem .5rem;
  margin-bottom: .5rem;
  width: 100%;
}
.pincode_box__input::placeholder {
  color: rgba(0, 0, 0, .25);
}

.pincode_box__buttons {
  display: grid;
  grid-template-columns: 1fr 4rem;
  gap: .5rem;
}

.pincode_box__next {
  background-color: rgba(0, 0, 0, .1) !important;
  color: black !important;
}

/* Products */

.products_box {
  height: fit-content;
}

.products_box__title {
  color: #4F4F4F;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-top: 1rem;
}
